---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Grant Howard</h1>
    <img
      src="https://media.giphy.com/media/unQ3IJU2RG7DO/giphy.gif"
      alt="Typing Cat"
    />
  </body>
</html>
